<%- include('includes/header'); -%>
   <div class="container mt-2">
        <h2>Products</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eius suscipit doloribus exercitationem ex, ut deserunt incidunt labore blanditiis dicta asperiores enim, facilis cumque voluptatibus quisquam eveniet dolore possimus nihil!
        </p>
   </div>
<%- include('includes/footer'); -%>
